html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    font-family: roboto;
}

.hero {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hero::before {
  content: "";
  position: absolute;

  width: 300px;
  height: 300px;

  background: radial-gradient(
    circle,
    rgba(108,92,231,0.4) 0%,
    rgba(90,80,246,0.2) 40%,
    transparent 70%
  );

  filter: blur(200px);

  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);

  z-index: 0;
}

@media(max-width: 950px) {
    .hero {
        flex-direction: column;
        padding: 20px;
    }

    .hero-text {
        text-align: center;
    }
    
}

.hero-text {
    max-width: 600px;
    height: auto;
    padding: 20px;
    z-index: 1;
}

.hero-text h1 {
    font-size: clamp(3rem, 7vw, 4rem);
    color: var(--text-primary);
    margin-bottom: 20px;
}

span {
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block;
}

.hero-image {
    z-index: 1;
}

.hero-image img {
  width: clamp(150px, 50vw, 600px);
  border-radius: 20px;
  box-shadow: var(--glow-primary);
}

@media (max-width: 768px) {
    .hero-image {
        display: none;
    }
}

.hero-text p {
    font-size: 1.15rem;
    color: var(--text-secondary);
    line-height: 1.6;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-acesso {
    background: var(--gradient-primary);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--shadow-md);
    transition: 0.4s;
}

.btn-acesso:hover {
    background: var(--gradient-secondary);
    box-shadow: var(--shadow-lg);
}

.btn-funcionamento {
    background: transparent;
    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.btn-funcionamento:hover {
    border: 1px solid var(--text-primary);;
    background: var(--border-primary);
}

.seta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);    
    z-index: 1;
    color: #fff;
}

.seta ion-icon {
    font-size: 2rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


